@font-face {
  font-family: Apple;
  src: url(./Poppins-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Apple;
}
html,
body {
    height: 100%;
    width: 100%;
}

#intro{
  text-align: center;
  padding-top: 80px;
  font-family: 'Poppins', sans-serif;
  color: black;
}

#main{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}


.card{
  height: 350px;
  width: 250px;
  padding: 20px;
  background-color: rgb(240, 134, 134);
  border-radius: 10px;
  box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.22);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: translate(0, 25%);
}

.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.card h2{
  font-weight: 400;
  font-size: 26px;
}

.card p{
  font-size: 14px;
  font-weight: 500;
  color: #e6e6e6;
  text-align: center;
}
.card button{
  border-radius: 50px;
  padding: 10px 30px;
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  border: 2px solid rgb(0, 0, 0);
}

.card button:hover{
  background-color: black;
  color: rgb(255, 255, 255);
}