@font-face {
    font-family: poppins;
    src: url(Poppins-Medium.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: poppins;
}



html, body{
    height: 100%;
    width: 100%;
    background-color:floralwhite;
}

#intro{
    background-color: darkslategray;
    color: white;
    height: 140px;
    width: 100%;
    padding-top: 30px;
}

.container {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-weight: 100;
    width: 75%;
    box-shadow: gray;
    border-radius: 2%;
}

ul{
    list-style-type: none;
    gap: 600px;
}
li{
    background-color: white;
    color: black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h2{
    padding-top: 10px;
}

#content{
    background-color: white;
}

#Education{
    background-color:aquamarine;
    color: black;
    height: 150px;
}

#Skills{
    background-color:bisque;
    color: black;
    height: 200px;
}

#Projects{
    background-color:coral;
    color: black;
    height: 180px;
}

#Contact{
    background-color:darkseagreen;
    color: black;
    height: 170px;
}

#footer{
    background-color: darkslategray;
    color: white;
    height: 70px;
    width: 100%;
    padding-top: 20px;
}